.row {
  height: 32%;
  width: 85%;
  flex-direction: row;
  flex: 1;
  display: flex;
  margin-top: 2vh;
}

.card {
  border: 0.3vh solid rgb(0, 0, 0);
  flex-direction: row;
  flex: 1;
  display: flex;
  margin: 0.5vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #ffffff;
  color: #007bff;
}

.score {
  position: absolute;
  left: 0;
  top: 0;
}

.card.flipped {
  border: 0.3vh solid;
  animation: selecting 1s infinite alternate;
}

.card.matched {
  border: 0.3vh solid #8bc34a;
  animation: matching 1s infinite alternate;
}

@keyframes selecting {
  from {
    border-color: #2800f3;
    box-shadow: 0 0 10px #2800f3;
  }
  to {
    border-color: #1500a6;
    box-shadow: 0 0 20px #1500a6;
  }
}
@keyframes matching {
  from {
    border-color: #8bc34a;
    box-shadow: 0 0 10px #8bc34a;
  }
  to {
    border-color: #6b9739;
    box-shadow: 0 0 20px #6b9739;
  }
}