$primary-color: #007bff;
%linha {
  height: 32%;
  width: 85%;
  flex-direction: row;
  flex: 1;
  display: flex;
  margin: 0.4vh;
}

%carta {
  border: 0.3vh solid rgb(251, 0, 0);
  flex-direction: row;
  flex: 1;
  display: flex;
  margin: 0.5vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

%centraliza1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #ffffff;
  color: $primary-color;
  @extend %centraliza1;
}
.row {
  @extend %linha;
}

.card {
  @extend %carta;
}

.card.flipped {
  border: 0.3vh solid;
  animation: glow 1s infinite alternate;
}

.card.matched {
  border: 0.3vh solid #8bc34a;
}

@keyframes glow {
  from {
      border-color: #2800f3;
      box-shadow: 0 0 10px #2800f3;
  }
  to {
      border-color: #1500a6;
      box-shadow: 0 0 20px #1500a6;
  }
}
